<div class="locals_slider" id="locals_slider">
    <ul>
        <li style="background-image: url(<%= asset_path 'local_imgs/Wiston2.png' %>); background-size: cover;">
          <p class="wiston_quote_right"> "Spending time in the sea and providing a good service for the traveler is what I'm here for." </p>

          <div class="local_name_caption_right">
            <h3 class="wiston_title_right"> WISTON CHURCHILL</h3>
            <h4 class="wiston_caption_right"> Existing Host & Adventure Operator</h4>
          </div>  
        </li>

        <li style="background-image: url(<%= asset_path 'local_imgs/Gustavo4.png' %>); background-size: cover;">
          <p class="local_quote_left"> "Helping travelers is a way of life for me. It is an honor to be able to give a hand to those who request my help." </p>

          <h3 class="local_title_left"> GUSTAVO XXXXYYYY</h3>
          <h4 class="local_caption_left"> Hostel Owner, Hiker, & Climber</h4>
        </li>

        <li style="background-image: url(<%= asset_path 'local_imgs/Leo3.png' %>); background-size: cover;">
          <p class="leo_quote_right"> "A global network connecting travelers to adventure guides would be fantastic because personal references are  most important to me." </p>

          <div class="local_name_caption_right">
            <h3 class="leo_title_right"> LEO XXXXYYYY</h3>
            <h4 class="leo_caption_right"> Traveler, Hiker, & Climber</h4>
          </div>
        </li>        
    </ul>
</div>


<script type="text/javascript">
  
  $('.locals_slider').unslider({
    fluid: true,
    dots: true,
    speed: 1000,
    delay: 7000
  });

</script>

<div class="big_wrapper texture_background">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3 class="center">
        HOW IT WORKS
      </h3>
    </div>
    <div class="point_copy">
      <!-- Three panels Find, Create, Share -->
      <ul class="advlo_row">
        <li>
          <div class="center icon"><%= image_tag "find_icon.png" %></div>
          <h4 class="header center"> FIND </h4>
          <p class="center content"> Connect with locals and hostels directly to set up unique, customizable adventures. </p>
        </li>


        <li>
          <div class="center icon"><%= image_tag("create_icon.png", :class => "create_icon") %></div>
          <h4 class="header_adjust center"> HOST </h4>
          <p class="center content"> Host like-minded travelers on the adventures you love and sell your expertise. </p>

        </li>
        <li>
          <div class="center icon"><%= image_tag "share_icon.png", :class => "share_icon" %></div>
          <h4 class="header center"> SHARE </h4>
          <p class="center content"> Share your past adventures and follow your friends with interactive maps and itineraries. </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="big_wrapper why_support_us_background">
  <div class="wrapper" id="why_support_us">
    <div class="point_copy">
      <h3 class="center">
        WHY SUPPORT US?
      </h3>
    </div>

    <div class="point_copy">
    	<p>
    		ADVLO needs your help to start building our website. We need to pay our developers, designers, and ambassadors abroad in order to keep moving forward! We promise that ADVLO is going to give back to you and the travel community as a whole once we are up and running for good.
    	</p>
    </div>
    
  </div>
</div>

